@charset "UTF-8";

@font-face {
	font-family: 'UhBeeHyeki';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeHyeki.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
	label {
    font-family: 'UhBeeHyeki', sans-serif;
    font-size: 24px;
}

.hr-19 {
	  border: none;
	  height: 10px;
	  background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px, linear-gradient(135deg, #fff 5px, #8c8c8c 0) 0 5px;
	  background-color: #fff;
	  background-position: left bottom;
	  background-repeat: repeat-x;
	  background-size: 10px 10px;
	}
	
   .button {
	   font-family: 'Pretendard-Regular', sans-serif;
       background-color: #003366;
       border: none;
       color: white;
       padding: 12px 28px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 2px;
       cursor: pointer;
       -webkit-transition-duration: 0.4s;
       transition-duration: 0.4s;
   }
   
   .button:hover {
       box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
   }
   
   .text {
       color: black;
   }